.App {
  text-align: center;
}


.App-header {
  background-image: url(Images/robo1.jpeg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: mediumseagreen;
  background-color: bisque;
}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: burlywood;
  
}

p{
  color: brown;
  background-color: bisque;
}